[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
pymongo = "*"
openpyxl = "*"

[dev-packages]

[scripts]
prod = "uvicorn main:app --host 0.0.0.0 --port 8000 --workers 4 --env-file .env.prod"
dev = "uvicorn main:app --host localhost --port 8001 --reload --env-file .env.dev"
compose = "uvicorn main:app --host 0.0.0.0 --port 8000 --workers 4 --env-file .env.docker"

[requires]
python_version = "3.11"
